<div class="placeholder-glow">
  <img 
    class="placeholder w-100 bg-dark ratio ratio-16x9 object-fit-cover rounded mb-3"
    width="256"
    height="256"
  />
</div>
<div class="placeholder-glow mb-3">
  <span class="placeholder col-1 rounded me-2"></span>
  <span class="placeholder col-1 rounded"></span>     
</div>
<h2 class="placeholder-glow mb-3">
  <span class="placeholder col-10 rounded"></span>
</h2>
<p class="placeholder-glow">
  <span class="placeholder col-6 rounded me-1"></span>
  <span class="placeholder col-4 rounded me-1"></span>
  <span class="placeholder col-3 rounded me-1"></span>
  <span class="placeholder col-6 rounded me-1"></span>
  <span class="placeholder col-4 rounded me-1"></span>
  <span class="placeholder col-6 rounded me-1"></span>
  <span class="placeholder col-5 rounded me-1"></span>
  <span class="placeholder col-2 rounded me-1"></span>
</p>